body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 15px;
	font-family: arial, sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.notworking {
    pointer-events: none;
    cursor: default; 
}

audio {
	visibility: hidden;
    height: 1px;
}

.mainpage {
    width: 100%;
    height: 100%;
    background: url("/design/whiteboard.jpg") center center;
}

.mainpage .container {
    width: 300px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.mainpage .insetblock {
    background-color: rgba(255, 255, 255, 1.0);
}

.mainpage h1 {
	text-align: center;
	margin: 0 0 10px;
}

.mainpage a {
	display: block;
    cursor: pointer;
	text-align: center;
	width: 200px;
	padding: 7px 0;
	font-size: 18px;
	margin: 20px auto;
	box-shadow: inset 0px 1px 0px 0px #f9eca0;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background-color: #f0c911;
	border-top-left-radius: 25px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 0px;
	border: 4px solid #e65f44;
	color: #c92200;
	font-size: 19px;
	font-weight: bold;
	line-height: 52px;
	width: 200px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 3px 0px #ded17c;
}

.mainpage a:nth-child(2) {
	border-top-left-radius:0px;
	border-top-right-radius:25px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:25px;
}

.mainpage a:hover {
	background-color: #f2ab1e;
}

.mainpage a:active {
	position: relative;
	top: 1px;
	left: 1px;
}

.header {
	background-color: #eee;
}

.header a {
    display: block;
    font-size: 18px;
    width: 200px;
    background-color: #eee;
    text-decoration: none;
    padding: 18px 0;
    text-align: center;
    float: left;
}

.header a:hover {
    background-color: #ccc;
}

a#newgamelink {
    display: none;
    width: 400px;
    float: left;
    font-size: 18px;
    background-color: #43C45D;
    text-decoration: none;
    padding: 18px 0 18px;
}

a#newgamelink:hover {
    background-color: #67E080;
}

.learningblock {
	margin-bottom: 30px;
}

.learningblock #container {
    display: none;
}

.picturepanel {
	float: left;
	width: 700px;
	text-align: center;
}

#picture {
	padding: 50px 0;
}

.infopanel {
	float: left;
	width: 400px;
	font-size: 20px;
	padding: 30px 0 0;
}

@media screen and (max-device-width: 700px) {
	.picturepanel {
		float: none;
	}

	.infopanel {
		float: none;
		margin: 20px auto;
		padding: 0;
	}
}

.infopanel #question {
    margin: 5px 0 10px;
}

.infopanel #answer {
	font-size: 17px;
	width: 100px;
}

.infopanel .speak {
	margin: 10px 0;
}

#alternatives {
    display: none;
    margin: 15px 0 10px;
    font-size: 14px;
}

#alternativecont {
    display: inline;
    font-size: 14px;
    padding: 3px;
}

a#speakbutton, a#submitbutton, #listeningmsg {
	display: block;
	padding: 10px 0;
    font-size: 18px;
	text-align: center;
	text-decoration: none;
}

a#speakbutton {
	color: #fff;
	background: #DB3535 url("../design/microphone.png") no-repeat left center;
}

a#speakbutton:hover {
	background-color: #C91212;
}

#listeningmsg {
    display: none;
    background: #DBE60B url("../design/listening.png") no-repeat left center;
}

a#submitbutton {
	color: #fff;
	background-color: #189E33;
}

a#submitbutton:hover {
	background-color: #02781A;
}

#results {
	display: none;
}

#results h2 {
	text-align: center;
	margin: 10px 0 0;
	padding: 0;
}

#results {
	font-size: 15px;
}

.mistakescount {
    background-color: #f0f0f0;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 4px 0;
    margin: 0 5px;
    font-size: 15px;
    width: 110px;
    text-align: center;
}

#mistakes, #corrects {
	margin: 10px 0 0;
}

.mistakeitem {
	margin: 10px 0;
	padding: 5px 0;
}

#mistakes .mistakeitem {
	border-left: 15px solid #FF2424;
}

#correct .mistakeitem {
	border-left: 15px solid #008A1C;
}

.mistakeimg {
	float: left;
	width: 150px;
	margin: 0 15px 0 10px;
}

.mistakeimg img {
	width: 150px;
}

.mistakequestion {
	font-size: 18px;
	margin-bottom: 4px;
}

.mistakequestion a {
	padding: 0 5px;
	text-decoration: underline;
}

.mistakequestion a:hover {
	text-decoration: none;
}

.mistakeanswer span {
	font-size: 16px;
}

.klear {
	clear: both;
}

#nomore {
	display: none;
}

#speechres {
    margin: 7px 0;
    font-size: 14px;
}

#loader {
    margin: 200px auto;
    width: 100px;
    height: 101px;
    border: 8px solid;
    border-top-color: hsl(154,100%,31%);
    border-left-color: hsl(216,87%,52%);
    border-bottom-color: hsl(8,66%,50%);
    border-right-color: hsl(42,100%,51%);
    border-radius: 50%;
    transform: rotate(45deg);
    margin: 30px auto;
}

#loader p {
  display: inline-block;
  width: 107px;
  height: 107px;
  /* The background is used to specify the border background */
  background: linear-gradient(90deg, hsla(212,67%,36%,0) 0%,
                                         hsla(207,69%,51%,0) 76%,
                                         hsla(0,0%,100%,1) 85%,
                                         hsla(0,0%,100%,1) 100%); /* W3C */
  /* Background origin is the padding box by default.
  Override to make the background cover the border as well. */
  background-origin: border-box;
  /* A transparent border determines the width */
  border: 6px solid transparent;
  border-radius: 50%;
  box-shadow: inset -999px 0 0 #fff; /* The background color */
  transform: translate(-8px, 55px);
  animation: loading 1s linear infinite;
}

@keyframes loading {
    0% { transform: translate(-9px, -25px) rotate(0deg); }
  100% { transform: translate(-9px, -25px) rotate(360deg); }
}